.page{
	background-image: url("background.jpg");
}
#main{
	border: 10px white solid ;
	background-color: white;
	margin-left: 10% ;
	margin-right: 10% ;
}
#main span{
	border-bottom: 2px blue dashed;
}
.header{
	background-color: #A8F0F0;
	text-align: right;
}
.body{
	border: 4px solid #C2E9E9;
	background-color:  #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow:hidden;
}